Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction. (1 pt)

In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Pandas
3. TensorFlow

Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

| Data Science Tools |
----------------------
| RStudio            |
| ApacheSpark        |
| TensorFlow         |

Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

### Below are a few examples of evaluating arithmetic expressions in Python:

In [3]:
20 + 5

25

In [4]:
4 + 5

9

In [5]:
20 / 4

5.0

Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)

In [6]:
(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

In [7]:
#This will convert 200 minutes to hours by diving by 60:
200 / 60

3.3333333333333335

Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)

***Objectives:***
* Create Markdown cell
* Create code cell to multiply and add numbers
* Create code cell to turn hours into minutes

Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)

### Author
Muhammad Salman

Exercise 12 - Share your notebook through GitHub (3 pts)

Done.

Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)

Done.